{{#if keyValueMap}}
<h4>Cash Flow Component</h4>

<h6>Ratios</h6>

<div class="container-fluid">
	<table class="table table-striped">
	  <thead>
	    <th>
	    	<td>Financial Ratio</td>
	    </th>
	    <th>
	    	<td>1st Comp</td>
	    </th>
	  </thead>
	  <tbody>
	  	<tr>
	  		<td>Free Cash Flow {{fa-icon "question-circle"}}</td>
	  		<td>{{freeCashFlow}}</td>
	  	</tr>
	  </tbody>
	</table>
</div>

<div class="container-fluid">
<table class="table table-striped">
	<thead>
		<th><td></td></th>
		<th><td></td></th>
	</thead>
	<tbody>
	{{#each-in keyValueMap as |key value|}}
		{{key-finance-display financeObject=value}}
	{{/each-in}}
	</tbody>
</table>
</div>
{{/if}}