{{#if keyValueMap}}
<h4>Cash Flow Component</h4>

<div class="container-fluid">
<table class="table table-striped">
	<thead>
		<th><td></td></th>
		<th><td></td></th>
	</thead>
	<tbody>
	{{#each-in keyValueMap as |key value|}}
		{{key-finance-display financeObject=value}}
	{{/each-in}}
	</tbody>
</table>
</div>
{{/if}}