{{#if keyValueMap}}
  <h4>Income Statement</h4>

{{!-- Metadata each here --}}
{{!--   <div class="container-fluid">
  {{#each-in metadata as |key value|}}
    <div>{{key}}: {{value.display}} {{value.help}}</div>
  {{/each-in}}
  </div> --}}

  <div class="container-fluid">
  {{#each-in keyValueMap as |key value|}}
  {{key-finance-display key=key financeObject=value}}
  {{/each-in}}
  </div>
{{/if}}