<td>{{financeObject.display}} {{#if financeObject.help}} {{fa-icon "question-circle"}} {{financeObject.help}}{{/if}}</td>

<!-- wrap a list around here and we loop through for each cell -->
<td>
	{{#if financeObject.value}}
	{{financeObject.value}} 

	{{/if}}
</td>